.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px;
  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;
  z-index: 1;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  padding: 40px;

  background-color: $third-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: scale(0.5);
  }

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 450px;

    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 768px) {
    max-width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $third-text-color;

  &:hover {
    cursor: pointer;
    color: $brand-color;
  }
}

.close-button__icon {
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-bottom: 12px;
}

.modal-form__list {
  margin-bottom: 20px;
}

.modal-form__button {
  margin: 0 auto;
}

.form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: $secondary-text-color;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

%form-border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin form-border-color($color) {
  border-color: $color;
  outline: none;
}

.form__input {
  @extend %form-border;
  padding-left: 42px;

  .form__item:focus-within & {
    @include form-border-color($brand-color);
  }
}

.form__textarea {
  @extend %form-border;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form__item:focus-within & {
    @include form-border-color($brand-color);
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__item:focus-within & {
    color: $brand-color;
  }
}

.form__label {
  color: $main-text-color;
  margin-bottom: 4px;
}

.policy {
  position: relative;
  display: block;
  // text-align: center;
  margin-bottom: 30px;
  padding-left: 23px;

  font-size: 12px;
  line-height: 1.17;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__icon {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .policy__checkbox:checked + & {
    opacity: 0;
  }
}

.policy__icon--checked {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .policy__checkbox:checked ~ & {
    opacity: 1;
  }
}

.policy__link {
  text-decoration: underline;
  color: $brand-color;
}
